var html = '<div>' + 
           '  <h1>from Tear</h1>' +
           '  <table border="1">' +
           #foreach ($user in $users)'    <tr>' +
           '      <td><a href="#" id="user_$user.id" class="tear-userId-link">$user.id</a></td>' +
           '      <td>$user.userId</td>' +
           '  </tr>' +
           #end'  </table>' +
           '</div>';
${callback}(html);
$('.tear-userId-link').click(function() {
    alert(this.innerHTML);
    // ここにライトボックス表示を実装する.
});